<!-- <table class="table table-bordered">
  <tr>
      <th>Customer Name: <button class="btn btn-alert" (click)="sortByName()">Sort</button></th>
      <th>Customer Age: <button class="btn btn-alert" (click)="sortByAge()">Sort</button></th>
      <th>Customer Mobile:</th>
      <th>Customer eMail:</th>
  </tr>
  <tr *ngFor="let cust of customers; let i = index">
      <td>{{cust.custName}}</td>
      <td>{{cust.custAge}}</td>
      <td>{{cust.custMobile}}</td>
      <td>{{cust.custEmail}}</td>
    <td><button class="btn btn-warning" (click)="delete(i)">Delete</button></td>
  </tr>
  <td></td>
  <td></td>
</table> -->
<p>
  login
</p>