<form (ngSubmit)="updatePassword()" #passwordForm="ngForm">
<table>
  <tr>
    <td>
      <button type="submit" class="btn btn-info">Change Password</button>
    </td>
  </tr>
</table>

<span>
  <hr>
</span>

</form>
<form (ngSubmit)="updateEmail()" #emailForm="ngForm">
  <table>
    <tr>
      <td>
        <button type="submit" class="btn btn-info">Change E-Mail</button>
      </td>
    </tr>
  </table>

  <span>
    <hr>
  </span>

  </form>
  <form (ngSubmit)="updateMobile()" #mobileForm="ngForm">
    <table>
      <tr>
        <td>
          <button type="submit" class="btn btn-info">Change Mobile</button>
        </td>
      </tr>
    </table>
    </form>